{% extends 'base.html' %}
<!-- blank -->
{% block sass_link %}
<!-- blank -->
{% load sass_tags %}
<link
  href="{% sass_src 'scss/pages/zoo/styles.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- blank -->
{% endblock %}
<!-- blank -->
{% block title %} Zoo {% endblock %}
<!-- blank -->
{% block content %}
<header>
  <div class="menu left-panel">
    <!-- nav > ul * 2 > li * 4 -->
    <span>zoo</span>
    <span>contact</span>
    <span>team</span>
    <span>clients</span>
  </div>
  <div class="menu right-panel">
    <span>projects</span>
    <span>tous</span>
    <span>en</span>
  </div>
</header>
<main>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_1.jpg' %} />
      <figcaption>dell-4Ea0P4IsZ_4</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_2.jpg' %} />
      <figcaption>dell-LXI5kqCdEcEds</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_3.jpg' %} />
      <figcaption>onur-binay-60x59t9fA-o</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_1.jpg' %} />
      <figcaption>dell-4Ea0P4IsZ_4</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_2.jpg' %} />
      <figcaption>dell-LXI5kqCdEcE</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_3.jpg' %} />
      <figcaption>onur-binay-60x59t9fA-o</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_1.jpg' %} />
      <figcaption>dell-4Ea0P4IsZ_4</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_2.jpg' %} />
      <figcaption>dell-LXI5kqCdEcE</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_3.jpg' %} />
      <figcaption>onur-binay-60x59t9fA-o</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_1.jpg' %} />
      <figcaption>dell-4Ea0P4IsZ_4</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_2.jpg' %} />
      <figcaption>dell-LXI5kqCdEcE</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_3.jpg' %} />
      <figcaption>onur-binay-60x59t9fA-o</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_1.jpg' %} />
      <figcaption>dell-4Ea0P4IsZ_4</figcaption>
    </figure>
  </div>
  <div class="project">
    <figure>
      <img src={% sass_src 'images/zoo_2.jpg' %} />
      <figcaption>dell-LXI5kqCdEcE</figcaption>
    </figure>
  </div>
</main>
{% endblock %}
